GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=
ALLOWED_EMAIL_DOMAINS=
JIRA_SERVER=
JIRA_TOKEN=
JIRA_USER_EMAIl=
LIMIT_TO_PROJECT=
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
LOG_LEVEL=DEBUG
JIRA_CLOUD_ID=

