{:min-bb-version "0.8.156"
 :deps  {failjure/failjure {:mvn/version "2.3.0"}}
 :tasks {:requires ([babashka.fs :as fs]
                    [babashka.tasks :refer [shell]])

         fastapi     {:doc  "start FastAPI devserver"
                      :task (shell {:dir "."} "poetry run fastapi dev backend/main.py")}

         uix         {:doc  "start UIx Front dev"
                      :task (shell {:dir "pp-front"} "yarn dev")}

         docs        {:doc "make docs"
                      :task (do (shell {:dir "."}  "emacs --batch --eval '(load-file \".export.el\")'")
                                (shell {:dir "."}  "mv -f README.html static/docs/"))}}}
